{% load static %}
{% block content %}
<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
       <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
             <a class="navbar-brand" href="index.html"><img width="250" src="{% static 'images/logo.png' %}" alt="#" /></a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class=""> </span>
             </button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                   <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                   </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Sign up <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                         <li><a href="about/">About</a></li>
                         <li><a href="login/">login</a></li>
                      </ul>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="products/">Products</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="blog/">Blog</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="contact">Contact</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="#">
                         <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                            <!-- SVG content -->
                         </svg>
                      </a>
                   </li>
                   <form class="form-inline">
                      <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                      <i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                   </form>
                </ul>
             </div>
          </nav>
       </div>
    </header>
    <!-- end header section -->
    {% endblock %}